<h1>Reporte list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Fechareporte</th>
            <th>Horasreportadas</th>
            <th>Comentario</th>
            <th>Created_at</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('reporte_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{% if entity.fechaReporte %}{{ entity.fechaReporte|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td>{{ entity.horasReportadas }}</td>
            <td>{{ entity.comentario }}</td>
            <td>{% if entity.createdat %}{{ entity.createdat|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('reporte_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('reporte_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('reporte_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
